body {
    margin-top: 15px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
}

/*#############################  header   ##################################*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
    color: #35c660;
}
header img {
    margin-right: -100px;
}
header .brand {
    font-size: 31px;
    font-weight: 600;
}
header .tagline {
    font-size: 19px;
    font-weight: 600;
}

nav {
    max-width: 800px;
    min-height: 58px;
    max-height: 250px;
    margin: 25px auto;
    background-color: #35c660;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-weight: 600;
    font-size: 20px;
}
nav li {
    display: inline-block;
}
nav a {
    padding: 13px 64px;
    text-decoration: none;
    color: #fff;
    border-bottom: solid 4px #35c660;
}
nav a:hover, nav a:focus, nav a:active {
    border-bottom: solid 4px #fff;
    color: #fff;
    -webkit-transition: border-bottom 0.4s ease-out;
    -moz-transition: border-bottom 0.4s ease-out;
    -ms-transition: border-bottom 0.4s ease-out;
    -o-transition: border-bottom 0.4s ease-out;
    transition: border-bottom 0.4s ease-out;
}
/*#############################  article   ##################################*/
.body {
    margin: 0 auto;
    padding: 45px 35px;
    max-width: 800px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
    background-color: #fff;
}
article .col-md-12 {
    color: #666666;
    font-size: 31px;
}
article .col-md-4 dt {
    padding-top: 30px;
    color: #666666;
    font-size: 21px;
    text-align: center;
}
article .col-md-4 dd {
    padding-top: 30px;
    color: #666666;
    font-size: 11px;
    text-align: center;
}
article .col-md-4 img {
    box-shadow: 0 2px 15px rgba(0, 0, 0, .6);
}
article .flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 100px auto;
    font-weight: 600;
}
article .col-md-5 button {
    padding: 10px;
    width: 250px;
    border: solid 4px #35c660;
    text-transform: uppercase;
    background-color: transparent;
    color: #35c660;
}

/*#############################  footer   ##################################*/
footer {
    max-width: 800px;
    min-height: 58px;
    max-height: 130px;
    margin: 0 auto;
    margin-top: 25px;
    padding-top: 13px ;
    background-color: #35c660;
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}
footer .col-md-4 a {
    text-decoration: none;
    color: #fff;
}
footer .col-md-4 a:hover {
    color: #666;
}

@media all and (max-width: 992px){
    header {
        flex-direction: column;
        width: 100%;
    }
    header img {
        margin: 0;
    }
    nav {
        border: none;
    }
    nav ul {
        flex-direction: column;
    }
    nav a {
        width: 100%;
    }
    .row .col-md-4 {
        width: 100%;
    }
    article .flex {
        margin: 30px auto;
        flex-direction: column;
    }
    article .col-md-5 button {
        margin: 10px 0;
    }
}
