body {
    background-color: #707070;
}
article {
    margin: auto;
    width: 540px;

}
.collapse {
    padding: 0;
}
.navbar {
    border: none;
}
.box {
    margin-left: auto;
    margin-right: auto;
    width: 540px;
}
.container-fluid {
    background-color: #505050;
}
a.navbar-brand {
    text-shadow: none;
    color: #ff6f00!important;
}

li>a.brand {
    padding-left: 0;
    font-size: 19px;
}
.nav > li > a {
    text-shadow: none;
    color: #ff6f00!important;
}
ul.nav li>a {
    border-bottom: solid 2px #505050;
}
li>a.brand:hover {
    border-bottom: solid 2px #505050!important;
    text-shadow: none!important;
}
ul.dropdown-menu li:hover {
    border-bottom: none;
}
.nav > li > a:hover {
    text-shadow: 1px 1px 1px #101010;
}
ul.nav li>a:hover {
    border-bottom: solid 2px #ff6f00;
}

